*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  background: linear-gradient(to right bottom,#e1b382,#c89666);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.app-wrapper{
  background-color: #12343b;
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
  margin-left: 40%;
}

.header h1{
  color: #fff;
  text-align: center;
  margin: 30px,0;
}

.task-input{
  outline: none;
  width: 360px;
  padding: 16px;
  margin-right: 25px;
  font-size: 20px;
  color: #ccc;
  background-color: #000;
  border: 1px solid #c89666;
  border-radius: 10px;
  margin-top: 17px;
}

.button-add{
  width: 86px;
  padding: 16px 16px;
  border-radius: 11px;
  font-size: 20px;
  background-color: #f1af71;
  cursor: pointer;
}
.list-item{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 67px;
  border-radius: 10px;
  align-items: center;
}

.button-complete,
.button-delete,
.button-edit{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 21px;
  border-radius: 10px;
}
.button-complete{
  color: #ff6c6c;
  margin-right: 13px;
}
.button-delete{
  color: lightseagreen;
  margin-right: 10px;
}
.button-edit{
  color: #e2d029;
  margin-right: 10px;
}

.list{
  width: 220px;
  background-color: #12343b;
  border: none;
  color: #ccc;
  font-size: 20px;
  padding:8px;
  text-transform: capitalize;
}
input:focus,
button:focus{
  outline: none  ;
}


